@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
    
}

header{
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: #000000;
    text-align: center;
    
}

.logo {
    width: 175px;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;

}

nav a{
    text-align: center;
    color:#B68E3E;
    text-decoration:none;
    padding: 35px;
    font-size: 120%;
    font-family:"Cinzel";
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover{
    background-color: #B68E3E;
    color:#000000;
    font-size: 120%;
}

footer .social img {
    padding-top: 15px;
}

footer{
    background-color: #000000;
    color:#B68E3E;
    padding: 25px 50px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
   color: #B68E3E;
   text-decoration:none;
}

footer a:hover{
    color:#EEDF99;
}

footer p {
    font-size: 1.2em;
}    

footer p a:hover {
    text-decoration: underline;
}  


#hero {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img{
    width: 100%;
    height: 75%;
    opacity: 0.9;
}
.home-title{
    color:#B68E3E;
    font-family:"Cinzel";
    font-size: 3em;
    margin-top: 50px;
}


h4,h2{
    color:#B68E3E;
    font-family:"Cinzel";
    
}

p{
    font-family: "Montserrat";
}

#hero-msg {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1{
    text-align: left;
    margin-left: 100px;
    padding: 50px;
    text-shadow: 0 0 3px #DAD6D2;
}

#hero-msg h4 {
    text-align: center;
    color: #B68E3E;
    margin-left:-100px;
    font-size:2em;

}

#hero-msg h3 {
    text-align: right;
    color: #B68E3E;
   margin-right: -325px;
    margin-top: 250px;
    font-size:2em;
    font-family:"Cinzel";
    text-shadow: 0 0 3px #6f7364;
    
}



main{
    margin-top: -300px;
}

#lightbox{
    background-color: #DAD6D2;
    padding: 100px;
}

#tittle-lightbox{
    margin:50px;
    font-size:2em;
    color: #B68E3E;
}

#lightbox_content
{
    margin-left: 150px;
}

.column img{
    width: 130px;
    height: 200px;
}

.home-grid{
    display:grid;
    grid-template-columns: repeat(10, 1fr) ;
}

.mountains{
   
    height: 400px;
    width: 100%;
    grid-column: 2/6;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

#background{
    height: 725px;
    background-color: #B68E3E;
    grid-column: 1/11;
    grid-row: 4/9;
}

.msg{
    background-color: #DAD6D2;
    line-height: 3em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 5/8;
    box-shadow: 2px 2px 5px #6f7364;
}



.msg h2{
    color:#B68E3E;
    font-family:"Cinzel";
    font-size: 3em;
}

.msg p{
    color:#B68E3E;
    font-size: 3em;
    padding-bottom: 15px;
    text-align: center;
}


.blog{
    background-color: #DAD6D2;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 100px;

}

#tittle-onblog{
    margin-top:-5px;
    font-size:2em;
    color: #B68E3E;
    margin-bottom: 5px;
    grid-row: 1/2;
    grid-column: 2/3;
    
}

#blog-content{
    background-color: #78613F;
    color: #EEDF99;
    grid-row: 2/3;
    grid-column: 2/4;
    margin-top: -100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
}

#blog-content h4, #blog-content p{
    grid-column: 1/2;
    color: #EEDF99;
}

.enlace{
    text-decoration: none;
    color: white;
    grid-column: 1/2;
    text-align: right;
}


#blog-content img{
    grid-column: 2/3;
    margin-bottom: 40px;
    margin-top: -30px;
  
}









/*lightbox inicio*/

.row{
    display: block;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#img1{
    grid-column: 1/2;
}

#img2{
    grid-column: 2/3;
}

#img3{
    grid-column: 3/4;
}

#img4{
    grid-column: 4/5;
}

#img5{
    grid-column: 5/6;
}

.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 15%;
    
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
    background-color: #000000;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


  /*lightbox fin*/

    .img-blog{
        width: 450px;
        height: 450px;
}


  #img-contact{
    width: 200px;
    height: 400px;
    text-align: right;
  }



  .content-blog{
    margin-top: 50px;
    background-color: #78613F;
    padding: 20px;
    padding-bottom: 100px;
}


#tittle-blog{
    grid-column: 1/3; 
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    font-family:"Cinzel";
}

.content-right{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.content-right p{
    grid-column: 1/2;
    margin: 100px;
    font-family:"Montserrat";
}

.content-right img{
    grid-column: 2/3;
    margin-right: 100px;
}

.content-left{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.content-left p{
    grid-column: 2/3;
    margin: 100px;
}

.content-left img{
    grid-column: 1/2;
    margin-left: 100px;
}

.img-blog{
    width: 400px;
    height: 450px;
    text-align: center;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

#contact-content{
    background-color: #78613F;
    color: #EEDF99;
    grid-row: 2/3;
    grid-column: 2/4;
    margin-top: -100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
}


.contact-content-text{
    margin-left: 150px;
    margin-top: 150px;
}

.contact-content-img{
    margin-top: 20px; 
}
